<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-ghost"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="##">Home</a>
        <a class="nav-link" href="/listings">Events</a>
        <a class="nav-link" href="/listings/new">Add your Event</a>
        <a class="nav-link" href="/blog">Blogs</a>
      </div>

      <div class="navbar-nav ms-auto">
       
        <a href="/signup" class="btn btn-primary me-2 nav-link"> Sign Up </a>

        <a href="/login" class="btn btn-primary nav-link"> Login </a>

       
        <a href="/logout" class="btn btn-primary ps-3 nav-link"> Logout</a>

       

        <!-- <button type="button" class="btn btn-primary">Primary</button> -->
      </div>
    </div>
  </div>
</nav>
