<% layout("/layouts/boilerplate") %>
<div class="container"><%- body %></div>

<!--  -->

<h1>All Listings</h1>

<!-- Looping through allListings and displaying each title -->
<ul>
  <% for (let listing of allListings) { %>
  <li><%= listing.title %></li>
  <% } %>
</ul>
