.navbar {
  height: 5rem;
  background-color: white;
}
.navbar-brand {
  margin-left: 30px;
}
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400;
}
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}
.form-row {
  display: flex;
  gap: 10px; /* Optional: Add space between the inputs */
}

.form-row input {
  flex: 1; /* This makes each input take equal space */
}
.background {
  background: url("https://media.gettyimages.com/id/530819947/photo/marine-drive-mumbai.jpg?s=612x612&w=0&k=20&c=me1YVhq7cIH6lBQzij46DxNgR2EqERB2eOAQSNhezT4=")
    no-repeat center center/cover;
  filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
