<% layout("/layouts/boilerplate")%>

<div style="width: 100%; height: 100%; position: relative; background: white">
  <div
    style="
      width: 123px;
      height: 46px;
      left: 1127px;
      top: 30px;
      position: absolute;
      background: #d9d9d9;
      border-radius: 21px;
    "
  ></div>
  <img
    style="width: 630px; height: 832px; left: 0px; top: 0px; position: absolute"
    src="../../images/nishant-jain-7gGfEquPZkQ-unsplash.jpg"
  />
  <div
    style="
      width: 391px;
      height: 104px;
      left: 746px;
      top: 106px;
      position: absolute;
      color: black;
      font-size: 36px;
      font-family: Montserrat;
      font-weight: 700;
      letter-spacing: 3.6px;
      word-wrap: break-word;
    "
  >
    CREATE YOUR ACCOUNT
  </div>

  <div
    style="
      width: 400px;
      height: 503px;
      left: 753px;
      top: 240px;
      position: absolute;
    "
  >
    <div
      style="
        width: 187px;
        height: 46px;
        left: 0px;
        top: 27px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <div
      style="
        width: 394px;
        height: 46px;
        left: 0px;
        top: 113px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <div
      style="
        width: 394px;
        height: 46px;
        left: 0px;
        top: 285px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <div
      style="
        width: 394px;
        height: 46px;
        left: 0px;
        top: 371px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <div
      style="
        width: 187px;
        height: 46px;
        left: 207px;
        top: 27px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <div
      style="
        width: 394px;
        height: 46px;
        left: 0px;
        top: 199px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <div
      style="
        width: 225px;
        height: 46px;
        left: 0px;
        top: 457px;
        position: absolute;
        background: #d9d9d9;
        border-radius: 21px;
      "
    ></div>
    <div
      style="
        width: 192px;
        height: 22px;
        left: 23px;
        top: 471px;
        position: absolute;
        color: black;
        font-size: 15px;
        font-family: Montserrat;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      CREATE YOUR ACCOUNT
    </div>
    <div
      style="
        width: 192px;
        height: 22px;
        left: 0px;
        top: 0px;
        position: absolute;
        color: black;
        font-size: 15px;
        font-family: Montserrat;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Name
    </div>
    <div
      style="
        width: 192px;
        height: 22px;
        left: 208px;
        top: 0px;
        position: absolute;
        color: black;
        font-size: 15px;
        font-family: Montserrat;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      State
    </div>
    <div
      style="
        width: 192px;
        height: 22px;
        left: 0px;
        top: 82px;
        position: absolute;
        color: black;
        font-size: 15px;
        font-family: Montserrat;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Email
    </div>
    <div
      style="
        width: 192px;
        height: 22px;
        left: 0px;
        top: 168px;
        position: absolute;
        color: black;
        font-size: 15px;
        font-family: Montserrat;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Contact Number
    </div>
    <div
      style="
        width: 192px;
        height: 22px;
        left: 4px;
        top: 254px;
        position: absolute;
        color: black;
        font-size: 15px;
        font-family: Montserrat;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Username
    </div>
    <div
      style="
        width: 192px;
        height: 22px;
        left: 0px;
        top: 340px;
        position: absolute;
        color: black;
        font-size: 15px;
        font-family: Montserrat;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Password
    </div>
  </div>
</div>
